dotenv_if_exists

export REBAR_CACHE_DIR="$(direnv_layout_dir)/rebar/cache"
export REBAR_GLOBAL_CONFIG_DIR="$(direnv_layout_dir)/rebar/config"
export REBAR_BASE_DIR="$(direnv_layout_dir)/rebar/base"

PATH_add "${REBAR_CACHE_DIR}/bin"

use flake
